@import "./variables";

.home {
  .banner {
    width: 100%;
    background-color: $cian;
    .banner-content {
      width: 90%;
      margin: auto;
      height: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .image {
        position: relative;
        height: 100%;
        img {
          height: 100%;
        }
        p {
          display: flex;
          flex-direction: column;
          position: absolute;
          top: 44%;
          color: $secondary-color;
          right: -156px;
          font-size: 1.5em;
          span {
            font-size: 2.5em;
            font-weight: bold;
          }
        }
      }
      .cards {
        display: flex;
        gap: 20px;
        .card-plumbing {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          width: 300px;
          gap: 20px;
          height: 500px;
          border-radius: 20px;
          background-color: $yellow;
          img {
            width: 50%;
          }
          h1 {
            font-size: 2em;
            text-align: center;
            color: $secondary-color;
          }
        }
        .card-credit {
          @extend .card-plumbing;
          background-color: $secondary-color;
          h1 {
            color: $yellow;
          }
        }
      }
    }
  }
  .services-logos {
    background-color: $secondary-color;
    .services {
      display: flex;
      justify-content: space-between;
      padding: 20px 0;
      color: #fff;
      max-width: 1000px;
      margin: auto;
      .service {
        width: 320px;
        display: flex;
        align-items: center;
        gap: 10px;
        img {
          width: 80px;
        }
      }
    }
  }
  .information-banner {
    width: 100%;
    background-image: url(../img/santo-domingo-bg.png);
    padding: 30px 0;
    .content {
      width: 80%;
      margin: auto;
      padding: 50px 0;
      color: $secondary-color;
      h1 {
        font-weight: normal;
        margin: 0;
      }
      font-size: 2em;
      .information-button {
        cursor: pointer;
        padding: 10px 30px;
        background-color: $secondary-color;
        color: #fff;
        font-size: 0.8em;
        border: none;
        border-radius: 5px;
        font-weight: normal;
      }
    }
  }
}

@media only screen and (max-width: 1667px) {
  .home {
    .banner {
      .banner-content {
        width: 95%;
        .image {
          width: 40%;
          img {
            width: 100%;
          }
          p {
            span {
              font-size: 2em;
            }
          }
        }
        .cards {
          .card-plumbing {
            width: 220px;
            height: 340px;
            h1 {
              font-size: 1.4em;
            }
          }
          .card-credit {
            width: 220px;
            height: 340px;
            h1 {
              font-size: 1.4em;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1135px) {
  .home {
    .banner {
      .banner-content {
        width: 95%;
        flex-direction: column-reverse;
        .image {
          width: 60%;
          img {
            width: 100%;
          }
          p {
            span {
              font-size: 2em;
            }
          }
        }
        .cards {
          width: 100%;
          margin-top: 40px;
          .card-plumbing {
            padding: 20px;
            width: 50%;
            height: 155px;
            h1 {
              font-size: 1.4em;
              margin: 0;
            }
            img {
              width: 30%;
            }
          }
          .card-credit {
            width: 50%;
            height: 155px;
            padding: 20px;
            h1 {
              font-size: 1.4em;
              margin: 0;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 780px) {
  .home {
    .banner {
      .banner-content {
        width: 95%;
        flex-direction: column-reverse;
        .image {
          width: 60%;
          img {
            width: 100%;
          }
          p {
            display: none;
          }
        }
        .cards {
          width: 100%;
          margin-top: 40px;
          .card-plumbing {
            padding: 20px;
            width: 50%;
            height: 155px;
            h1 {
              font-size: 1.4em;
              margin: 0;
            }
            img {
              width: 30%;
            }
          }
          .card-credit {
            width: 50%;
            height: 155px;
            padding: 20px;
            h1 {
              font-size: 1.4em;
              margin: 0;
            }
          }
        }
      }
    }
    .services-logos {
      .services {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
        .service {
          width: 100%;
          justify-content: center;
          font-weight: normal;
          flex-direction: column;
          text-align: center;
        }
      }
    }
  }
}

@media only screen and (max-width: 500px) {
  .home {
    .banner {
      .banner-content {
        .image {
          width: 80%;
        }
        .cards {
          width: 100%;
          flex-direction: column;
          align-items: center;
          .card-plumbing {
            padding: 50px 30px;
            width: 80%;
            height: 100px;
            h1 {
              font-size: 1.4em;
              margin: 0;
            }
            img {
              width: 30%;
            }
          }
          .card-credit {
            padding: 50px 30px;
            width: 80%;
            height: 100px;
            h1 {
              font-size: 1.4em;
              margin: 0;
            }
          }
        }
      }
    }
    .services-logos {
      .services {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
        .service {
          width: 100%;
          justify-content: center;
          font-weight: normal;
          flex-direction: column;
          text-align: center;
        }
      }
    }
  }
}
