.configuration {
  margin: 50px 0;
  .configuration-content {
    display: flex;
    width: 85%;
    margin: auto;
    gap: 30px;
    justify-content: center;
    .left-side {
      width: 615px;
      .profile {
        padding: 20px;
        background-color: #fff;
        h1 {
          margin: 5px 0;
        }
        .profile-content {
          display: flex;
          width: 90%;
          margin: auto;
          gap: 40px;
          .profile-image {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 5px;
            button {
              color: $primary-color;
              font-weight: bold;
              background-color: transparent;
              border: none;
            }
          }
          .profile-info {
            h4 {
              font-size: 1em;
              color: #afafaf;
            }
            .action-buttons {
              display: flex;
              flex-direction: column;
              align-items: flex-start;
              gap: 5px;
              button {
                padding: 0;
                color: $primary-color;
                font-weight: bold;
                background-color: transparent;
                border: none;
              }
            }
          }
        }
      }
      .account-options {
        margin-top: 30px;
        padding: 20px;
        background-color: #fff;
        .account-options-container {
          .input-container {
            display: flex;
            justify-content: space-between;
            border-bottom: 2px solid #000;
            padding: 20px 0;
            align-items: center;
            span {
              width: 50%;
            }
            select {
              width: 50%;
            }
          }
          .content-container {
            &:last-child {
              border-bottom: none;
            }
            button {
              padding: 0;
              color: $primary-color;
              font-weight: bold;
              background-color: transparent;
              border: none;
            }
            @extend .input-container;
          }
        }
      }
      .share-services {
        margin-top: 30px;
        padding: 20px;
        background-color: #fff;
        .share-services-container {
          .input-container {
            display: flex;
            justify-content: space-between;
            border-bottom: 2px solid #000;
            padding: 20px 0;
            &:last-child {
              border-bottom: none;
            }
            button {
              padding: 0;
              color: $primary-color;
              font-weight: bold;
              background-color: transparent;
              border: none;
            }
          }
        }
        .all-accounts {
          margin-top: 20px;
          padding: 0;
          color: $primary-color;
          font-weight: bold;
          background-color: transparent;
          border: none;
        }
      }
    }
    .right-side {
      @extend .left-side;
      .directions {
        padding: 20px;
        background-color: #fff;
        .upper-content {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-bottom: 10px;
        }
        .direction-info {
          display: flex;
          margin: 15px 0;
          justify-content: space-between;
          .info {
            p {
              margin: 0;
              font-weight: bold;
              color: #00000099;
              font-size: 14px;
            }
          }
        }
      }
      .credit-cards {
        @extend .directions;
        margin-top: 30px;
        .upper-content {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-bottom: 10px;
        }
        .credit-card {
          margin-top: 15px;
          display: flex;
          justify-content: space-between;
          .info-card {
            display: flex;
            align-items: center;
            gap: 10px;
            .info {
              p {
                font-weight: bold;
                margin: 0;
              }
              span {
                font-weight: bold;
                font-size: 14px;
              }
              display: flex;
              flex-direction: column;
            }
          }
        }
        .lower-message {
          font-size: 14px;
        }
      }
      .email-accounts {
        @extend .credit-cards;
        .email-account {
          margin: 20px 0;
          display: flex;
          justify-content: space-between;
          align-items: center;
          .info-email {
            p {
              font-weight: bold;
              margin: 0;
            }
          }
        }
      }
      .phone-numbers {
        @extend .email-accounts;
        .phone-number {
          margin: 20px 0 0 0;
          display: flex;
          justify-content: space-between;
          align-items: center;
          .info-number {
            p {
              font-weight: bold;
              margin: 0;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1470px) {
  .configuration {
    .configuration-content {
      width: 90%;
      justify-content: space-between;
    }
  }
}

@media only screen and (max-width: 1000px) {
  .configuration {
    .configuration-content {
      width: 95%;
      justify-content: space-between;
      flex-direction: column;
      .left-side {
        width: 100%;
      }
    }
  }
}

@media only screen and (max-width: 460px) {
  .configuration {
    .configuration-content {
      .left-side {
        .profile {
          .profile-content {
            flex-direction: column;
          }
        }
      }
    }
  }
}
