@import './login';
@import './variables';
@import './home';
@import './footer';
@import './header';
@import './submenu';
@import './settings';
@import './buttons';
@import './clients';
@import './form-viviendas';
@import './form-user';
@import './form-card';

body {
  margin: 0;
  padding: 0;
  font-family: arial;
  background-color: #f5f7fa !important;
}
h1{
  font-size: 1.5em !important;
}
